
.bg-light {
  
   width:100%;
    background: linear-gradient(135deg, rgb(255, 255, 255) 0%, #ffffff 100%);
    border-radius: 10px;
    margin: 0.4rem;
    box-shadow: 0 15px 15px black;
    height: 520px;
   
}


#biografia-home{
    margin-top: 80px;
}

.sobre-container {
 
    display: flex;
    gap: 2.5rem;
    align-items: stretch;
    margin-top: 1rem;
}

.imagem-container {
   height: 400px;
   width: 330px;
   padding: 25px;
   background: linear-gradient(135deg, #E5142D 0%, #003A70 100%);
   border-radius: 25px;;
}

.img-perfil {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
    filter: blur(20px);
    transform: scale(1.2);           /* Começa maior, como fumaça */
    animation: fumaça 2.5s ease forwards;
}

/* Efeito ao passar o mouse */
.img-perfil:hover {
cursor: pointer;
    transform: scale(1.08);    /* aumenta suavemente */
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.6); /* sombra mais forte */
}


.texto-sobre {
    padding: 30px;
    flex: 1;
    font-size: 0.85rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.biografia-texto {
    line-height: 1.7;
    flex: 1;
    font-size: 1em;
}

.texto-sobre h2 {
  font-size: 3em;
  border-bottom: 3px solid red;
  color: red;
}

/* TEXTO JUSTIFICADO CONFORME ABNT - SOBRE MIM */




.btn-gradient {
    display: inline-flex;
    margin-left: 0;     /* garante que fique à esquerda */
    right:55px;
     align-items: center;
    justify-content: center;

    padding: 15px 30px;
    background: linear-gradient(90deg, #012169 0%, #C8102E 50%, #012169 100%);
    background-size: 200% 100%;
    background-position: left;

    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1.785em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 0 4px 15px rgba(1, 33, 105, 0.3);

    /* Removendo sublinhado do <a> */
    text-decoration: none;

    /* Espaço abaixo (caso precise) */
    margin-bottom: 30px;
}

.btn-gradient {
   display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 100px auto; /* CENTRALIZA O BOTÃO */

}

/* Hover opcional (caso queira efeito) */
.btn-gradient:hover {
    background-position: right;
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(1, 33, 105, 0.4);
}
